body{
  background-color: rgb(40,42,54);
}

.mainContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 64px;
}

.dataContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 600px;
}

.header {
  text-align: center;
  font-size: 32px;
  font-weight: 600;
  color: rgb(255,121,198);
}

.bio {
  text-align: center;
  color: ghostwhite;
  margin-top: 16px;
}

.waveButton {
  cursor: pointer;
  margin-top: 16px;
  padding: 8px;
  border: 0;
  border-radius: 5px;
  background-color: rgb(56,58,89);
  color: rgb(255,121,198);
  font: large bold;
  font-family: Helvetica;
}
.waveButton:hover{
  cursor: pointer;
  margin-top: 16px;
  padding: 8px;
  border: 0;
  border-radius: 5px;
  background-color: rgb(56,58,89);
  color: rgb(80,250,123);
  font: large bold;
  font-family: cursive;
  transition: ease-in-out;
}

.stats{
  color: rgb(255,121,198);
}

.para{
  color: rgb(255,121,198);
}
.highligted-text{
  color: rgb(80,250,123);
}